.advantages
  +twoColumnSection(
    'chat.png', 
    'Чат',
    'Мы предлагаем вам простой инструмент, чтобы автоматизировать информирование о поступающих оплатах.',
    'Бухгалтер на карантине, а директор недоступен? Ответственный сотрудник моментально узнает о поступлении денег на счет компании.'
  )