include ./inputButton

section.automation 
  h2.automation__title Автоматизируйте бизнес-процессы
  .automation__content 
    p.automation__desc Подключайте привычные приложения, которые вы используете в работе.
    .automation__input
      +inputButton('automation-input', 'Введите email', 'Узнать')