section.coming-soon 
  h2.coming-soon__title Скоро появится
  .coming-soon__list 
    .coming-soon__item 
      h3.coming-soon__name Интеграции с CRM-системами Битрикс 24 и amoCRM
      .coming-soon__content 
        p.coming-soon__desc Интегрируйте уведомления о платежах прямо в вашу CRM, в которой работают ваши сотрудники
        .coming-soon__imgs 
          img(src=require('../images/bitrix-mini-logo.png'), alt='Bitrix')
          img(src=require('../images/amocrm-mini-logo.png'), alt='AmoCrm')
    hr.line
    .coming-soon__item 
      h3.coming-soon__name Открытое API Everypay
      .coming-soon__content 
        p.coming-soon__desc Подключайте свои системы и интегрируйте уведомления о поступающих платежах самостоятельно с помощью простого API Everypay
    hr.line
    .coming-soon__item 
      h3.coming-soon__name Автоматическое создание платежек
      .coming-soon__content 
        p.coming-soon__desc Загрузите скан счета на оплату в нашу систему и в банк-клиенте автоматически будет создано платежное поручение на основании данных из счета. С помощью технологий компьютерного зрения и машинного обучения мы достигаем высокой точности и скорости работы 
    hr.line
  .coming-soon__more И еще 17 нововведений
