include ./form

section.connect
  h2.connect__title Подключиться
  .connect__content
    .connect__text
      p.connect__motiv Хотите начать пользоваться системой? Напишите нам.
      .connect__email 
        h4.connect__email-title email
        p.connect__email-value hello@everypay.io
    div.connect__form 
      +form()