mixin form()
  form.form(id='form-connect')
    label.form__input-group
      input(id='form-connect-name', name='name', type='text', placeholder='Ваше имя*')
    label.form__input-group
      input(id='form-connect-email', name='email', type='text', placeholder='Email*')
    label.form__input-group
      textarea(id='form-connect-about', name='about', rows='2', placeholder='Расскажите о своей компании*')
    button.form__submit.btn(id='form-connect-submit') Подключиться
    .form__success.success 
      p Спасибо!
      p Мы приняли ваш запрос
      p.success__last В ближайшее время наш специалист поддержки свяжется с вами.
