mixin form()
  form.form(id='form-connect')
    label.form__input-group
      input(id='form-connect-name', type='text', placeholder='Ваше имя*')
    label.form__input-group
      input(id='form-connect-email', type='text', placeholder='Email*')
    label.form__input-group
      textarea(id='form-connect-about', name='', rows='2', placeholder='Расскажите о своей компании*')
    button.form__submit.btn(id='form-connect-submit') Подключиться
    .form__success 
      p Спасибо!
      p Мы приняли ваш запрос
      p.form__success_last В ближайшее время наш специалист поддержки свяжется с вами.
