section.for-whom 
  h2.for-whom__title Для кого
  .for-whom__list 
    .for-whom__item 
      .for-whom__img
        img(src=require('../images/money-tree.png'), alt='Денежное дерево')
      h4.for-whom__for Малый бизнес
      p.for-whom__desc Скорость получения информации о платежах и минимизация издержек
    .for-whom__item 
      .for-whom__img
        img(src=require('../images/unicorn.png'), alt='Единорог')
      h4.for-whom__for Стартапы
      p.for-whom__desc Автоматизация бизнес-процессов и бухгалтерской рутины
    .for-whom__item 
      .for-whom__img
        img(src=require('../images/lamp.png'), alt='Лампа')
      h4.for-whom__for Разработчики
      p.for-whom__desc Быстрое внедрение своих приложений для малого бизнеса и стартапов