header.header 
  .header__logo.logo
    img(src=require('../images/logo.png'), alt="EveryPay")
  nav.header__nav.nav 
    a.nav__item(href="#") Как это работает?
    a.nav__item(href="#") Для кого
    a.nav__item(href="#") Кейсы
    a.nav__item(href="#") Тарифы
    a.nav__item(href="#") Безопасность
  .header__lang.lang
    .lang__item.lang__item_active Ru
    .lang__item En
  .header__btn
    button.btn.btn_header Подключиться