include ./nav

header.header 
  .header__logo.logo
    img(src=require('../images/logo.png'), alt='EveryPay')
  label.header__burger-menu(for='menu-toggle')
  .header__nav 
     +nav({
        '#1': 'Как это работает',
        '#2': 'Для кого',
        '#3': 'Кейсы',
        '#4': 'Тарифы',
        '#5': 'Безопасность'
        })
  .header__lang.lang
    .lang__item.lang__item_active Ru
    .lang__item En
  .header__btn
    button.btn.btn_header Подключиться
  input.header__toggle(type='checkbox', id='menu-toggle')
  .header__menu
    .header__nav_menu
      +nav({
        '#1': 'Как это работает',
        '#2': 'Для кого',
        '#3': 'Кейсы',
        '#4': 'Тарифы',
        '#5': 'Безопасность',
        '#6': 'Контакты'
        })
    .header__enter
      button.btn Вход