section.security 
  h2.security__title Безопасность
  .security__wrapper
    .security__img 
      img(src=require('../images/security.png'), alt='Замок')
    .security__content 
      h2.security__title.security__title_inner Безопасность
      p.security__desc Использование Everypay полностью безопасно: подключение к банковскому счету осуществляется в режиме «только для получения выписок», а хранение информации в системе защищено и деперсонализировано.