include ./inputButton

section.tariffs 
  .tariffs__content
    h2.tariffs__title Тарифы
    .tariffs__desc 
      p Everypay находится в стадии закрытого beta-теста, но у вас есть возможность присоединиться к тестированию сервиса. 
      p Для компаний, участвующих в тестировании, сервис  навсегда бесплатен. Напишите нам и мы с вами свяжемся.
    .tariffs__input 
      +inputButton('tariffs-input', 'Введите email', 'Узнать')
  .tarrifs__img 
    img(src=require('../images/ruble.png'), alt='Рубль')