section.works
  h2.works__title Как это работает
  .works__steps 
    .works__item 
      .works__img 
        img(src=require('../images/illustration-connect.png'), alt='Соединение')
      .works__desc 
        p Подключите свой банковский счет
    .works__item 
      .works__img 
        img(src=require('../images/illustration-choice.png'), alt='Выбор')
      .works__desc 
        p Выберите, куда и кому отправлять информацию
    .works__item 
      .works__img 
        img(src=require('../images/illustration-notification.png'), alt='Уведомление')
      .works__desc 
        p Получайте информацию о поступивших оплатах