@use 'variables' as v;

.automation {
  margin-top: 140px;
  padding: 60px 100px;
  display: flex;
  justify-content: space-between;
  background-color: v.$second-bg-color;
  background-image: url('../images/grid-bg.png');
  background-repeat: no-repeat;
  background-position: 100% 100%;
  &__desc {
    margin-top: 10px;
    font-size: 18px;
    line-height: 28px;
  }
  &__input {
    margin-top: 60px;
    .input-btn:not(.input-btn_invalid) {
      border: 1px solid v.$input-border;
      background: #fff;
      input {
        background: #fff;
      }
    }
  }
}

@media screen and (max-width: v.$break-points-lg) {
  .automation {
    flex-direction: column;
    &__desc {
      width: 80%;
      margin: 24px auto 0 auto;
      text-align: center;
    }
    &__input {
      width: max-content;
      margin-left: auto;
      margin-right: auto;
      margin-top: 48px;
    }
  }
}

@media screen and (max-width: v.$break-points-md) {
  .automation {
    position: relative;
    left: -10px;
    width: 100vw;
    padding: 60px 10px;
    &__title {
      font-size: 28px;
    }
    &__desc {
      margin-top: 12px;
    }
    &__input {
      max-width: 90%; 
    }
    .btn {
      min-width: 100px;
    }
  }
}