@use 'mixins' as m;
@use 'variables' as v;

.btn {
  @include m.btn-round;
  font-weight: 600;
  background: v.$grad;
  color: v.$main-bg-color;
  transition: box-shadow v.$transition-time;
  &_header {
    background: v.$main-bg-color;
    color: v.$second-grad-color;
    border: 1px solid v.$second-grad-color;
  }
  &:hover {
    box-shadow: v.$btn-shadow;
  }
}