@use 'variables' as v;

.cases {
  margin-top: 150px;
  user-select: none;
  &__list {
    margin-top: 85px;
    display: flex; 
    justify-content: space-between;
    transition: left v.$transition-time, right v.$transition-time;
    position: relative;
    right: 0;
  }
  &__item {
    flex-basis: 355px;
    padding: 30px 25px;
    min-height: 300px;
    border: 1px solid v.$card-border-color;
    display: flex;
    flex-direction: column;
    &_active {
      background: v.$second-bg-color;
      border-bottom: 3px solid v.$first-grad-color;
    }
  }
  &__content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }
  &__imgs {
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    img + img {
      margin-left: 10px;
    }
  }
  &__name {
    font-weight: 600;
    font-size: 22px;
    line-height: 30px;
    letter-spacing: 0.5px;
  }
  &__link {
    width: max-content;
    margin-top: 20px;
    display: flex;
    align-items: center;
    font-size: 16px;
    font-weight: 600;
    color: v.$first-grad-color;
    transition: color v.$transition-time;
    letter-spacing: 0.5px;
    &:hover {
      color: v.$second-grad-color;
    }
    img {
      margin-left: 3px;
    }
  }
  &__control {
    margin-top: 50px;
    display: none;
    justify-content: center;
    align-items: center;
  }
  &__bullet {
    width: 12px;
    height: 12px;
    border: 1px solid v.$bullet-border-color;
    border-radius: 50%;
    transition: border-color v.$transition-time;
    &:not(&_active):hover {
      border-color: v.$first-grad-color;
    }
    &_active {
      width: 16px;
      height: 16px;
      background: v.$grad;
    }
    & + & {
      margin-left: 15px;
    }
  }
}

@media screen and (max-width: v.$break-points-lg) {
  .cases {
    &__list {
      display: flex;
    }
    &__item {
      flex-shrink: 0;
      & + & {
        margin-left: 10px;
      }
    }
    &__control {
      display: flex;
    }
  }
}

@media screen and (max-width: v.$break-points-md) {
  .cases {
    margin-top: 135px;
    &__list {
      margin-top: 40px;
    }
    &__name {
      font-size: 18px;
    }
    &__item {
      padding: 20px 15px;
      max-width: 230px;
      margin-left: 15px;
      &:first-child {
        margin-left: 15;
      }
    }
  }
}
