@use 'variables' as v;

.connect {
  margin-top: 120px;
  padding-top: 80px;
  
  &__content {
    display: flex;
    justify-content: space-between;
  }
  &__text {
    flex-basis: 40%;
    font-size: 24px;
    line-height: 34px;
    letter-spacing: 0.7px;
  }
  &__motiv {
    margin-top: 28px;
  }
  &__email {
    margin-top: 20px;
  }
  &__email-title {
    font-weight: 400;
    color: v.$font-transparent-color;
  }
  &__form {
    flex-basis: 40%;
  }
}

@media screen and (max-width: v.$break-points-lg) {
  .connect {
    &__content {
      flex-direction: column;
      text-align: center;
      width: 70%;
      margin: 0 auto;
    }
    &__form {
      text-align: left;
      margin-top: 70px;
    }
  }
}