@use 'variables' as v;

.footer {
  margin-top: 40px;
  padding-bottom: 120px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  &__copyright {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 8px;
  }
  &__politics {
    font-size: 18px;
    letter-spacing: 0.5px;
    color: v.$second-grad-color;
    transition: color 0.2s;
    &:hover {
      color: v.$first-grad-color;
    }
  }
}

@media screen and (max-width: v.$break-points-lg) {
  .footer {
    margin-top: 70px;
    padding-bottom: 40px;
  }
}

@media screen and (max-width: v.$break-points-md) {
  .footer {
    flex-direction: column-reverse;
    align-items: center;
    &__copyright {
      margin-top: 15px;
      font-size: 12px;
    }
  }
}