@use 'variables' as v;
@use 'success';

.form {
  width: 100%;
  position: relative;
  &__success {
    position: absolute;
    top: 0;
    opacity: 0;
    left: 100%;
  }
  &__input-group {
    width: 100%;
    display: block;
    &_invalid {
      position: relative;
      &::after {
        content: attr(data-after);
        display: block;
        position: absolute;
        top: calc(100%);
        left: 20px;
        font-size: 12px;
        color: v.$invalid-color;
      }
      input, textarea {
        border: 1px solid v.$invalid-color;
      }
    }
    &:not(&_invalid) {
      input, textarea {
        border: 1px solid v.$input-border;
      }
    }
    input, textarea {
      padding: 8px 20px;
      width: 100%;  
      font-size: 18px;
      border-radius: 40px;
      &:focus {
        outline: none;
      }
      &::placeholder { 
        color: v.$input-color;
      }
    }
    textarea {
      padding-top: 15px;
      resize: none;
    }
    & + & {
      margin-top: 20px;
    }
  }
  &__submit {
    max-width: 175px;
    margin-top: 20px;
  }
}