@use 'fonts';
@use 'variables' as v;

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Avenir Next', sans-serif;
	color: v.$font-color;
}
html, body {
	overflow-x: hidden;
}
body {
	background-color: v.$main-bg-color;
}
button {
	background: none;
	border: none;
	cursor: pointer;
}
a {
	text-decoration: none;
}
h2 {
	font-size: 40px;
	line-height: 46px;
	letter-spacing: 1px;
}
.container {
	max-width: v.$max-width-container;
	margin: 0 auto;
}
.connect-wrapper {
	background-image: url('../images/footer-grid.png');
	background-repeat: no-repeat;
	background-position-y: 100%;
	background-color: v.$second-bg-color;
}
.advantages-wrapper {
	background-image: url('../images/sign-marker.png');
}
.for-whom-wrapper {
	background-image: url('../images/sign-marker.png');
	background-position-x: 70%;
}

@media screen and (max-width: v.$break-points-lg) {
	.container {
		min-width: v.$lg-width-container;
		padding: 0 10%;
	}
	h2 {
		text-align: center;
	}
}

@media screen and (max-width: v.$break-points-md) {
	.container {
		min-width: v.$md-width-container;
		padding: 0 10px;
	}
	h2 {
		font-size: 32px;
		line-height: 38px;
	}
}
