@use 'fonts';
@use 'variables' as v;

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Avenir Next', sans-serif;
	color: v.$font-color;
}

body {
	background-color: v.$main-bg-color;
	overflow-x: hidden;
}

button {
	background: none;
	border: none;
	cursor: pointer;
}

a {
	text-decoration: none;
}

h2 {
	font-size: 40px;
	line-height: 46px;
	letter-spacing: 1px;
}

.container {
	max-width: v.$max-width-container;
	margin: 0 auto;
}

.connect-wrapper {
	background: v.$second-bg-color;
}

@media screen and (max-width: v.$break-points-lg) {
	.container {
		min-width: v.$lg-width-container;
		padding: 0 10%;
	}
	h2 {
		text-align: center;
	}
}