@use 'variables' as v;
@use 'logo';
@use 'nav';
@use 'lang';
@use 'btn';

.header {
  margin-top: 35px;
  position: relative;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: space-between;
  &__burger-menu {
    display: none;  
  }
  &__menu {
    display: none;
    position: fixed;
    z-index: -1;
    top: -100vh;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: v.$main-bg-color;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: top v.$transition-time;
  }
  &__nav_menu {
    .nav {
      display: flex;
      flex-direction: column;
      align-items: center;
      font-size: 24px;
      font-weight: 500;
      a + a {
        text-align: center;
        width: 100%;
        margin-left: 0; 
        margin-top: 32px;
      }
    }
  }
  &__enter {
    margin-top: 35px;
  }
  &__toggle {
    display: none;
    &:checked ~ .header__menu {
      display: flex;
      top: 0px;
    }
  }
}

@media screen and (max-width: v.$break-points-lg) {
  .header {
    padding: 0 10px;
    &__nav, &__lang, &__btn {
      display: none;
    }
    &__menu {
      display: flex;
    }
    &__toggle:checked ~ .header__burger-menu::before {
      transform: translate(0, 5px) rotate(45deg);
    }
    &__toggle:checked ~ .header__burger-menu::after {
      transform: translate(0, -5px) rotate(-45deg); 
    }
    &__burger-menu {
      display: block;
      position: relative;
      width: 27px;
      height: 13px;
      cursor: pointer;
      &::before, &::after {
        content: '';
        position: absolute;
        left: 0;
        top: 1px;
        display: block;
        background: v.$first-grad-color;
        width: 100%;
        height: 3px;
        border: none;
        transition: transform v.$transition-time;
      }
      &::after {
        height: 3px;
        top: 11px;
      }
    }
  }
}