@use 'variables' as v;

.nav {
  font-size: 14px;
  letter-spacing: 1px;
  a {
    transition: color v.$transition-time;
    &:hover {
      color: v.$first-grad-color;
    }
  }
  a + a {
    margin-left: 39px;
  }
}