@use 'variables' as v;
@use 'offerSection';

.offer-sections {
  margin-top: 90px;
  &__item {
    & + & {
      margin-top: 185px;
    }
  }
} 

@media screen and (max-width: v.$break-points-md) {
  .offer-sections {
    margin-top: 50px;
  }
}