@use 'variables' as v;
@use 'offerSection';

.offer-sections {
  margin-top: 90px;
  &__item {
    & + & {
      margin-top: 185px;
    }
  }
  &__control {
    display: none;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
  }
  &__bullet {
    width: 30px;
    height: 30px;
    border: 1px solid v.$second-grad-color;
    border-radius: 50%;
    &_active {
      border: none;
      background: v.$first-grad-color;
    }
    & + & {
      margin-left: 15px;
    }
  }
} 

@media screen and (max-width: v.$break-points-lg) {
  .offer-sections {
    &__list {
      display: flex;
      transition: right v.$transition-time, left v.$transition-time;
      position: relative;
      right: 0;
    }
    &__control {
      display: flex;
    }
    &__item {
      flex-shrink: 0;
      width: 100%;
      & + & {
        margin-top: 0;
        margin-left: 10px;
      }
    }
  }
}

@media screen and (max-width: v.$break-points-md) {
  .offer-sections {
    margin-top: 50px;
  }
}