@use 'variables' as v;

.tariffs {
  margin-top: 150px;
  display: flex;
  justify-content: space-between;
  &__content {
    padding-top: 20px;
    flex-basis: 50%;
    &_mini {
      display: none;
    }
  }
  &__desc {
    margin-top: 25px;
    font-size: 24px;
    line-height: 34px;
    letter-spacing: 0.7px;

    p + p {
      margin-top: 25px;
    }
  }
  &__input {
    margin-top: 40px;
  }
}

@media screen and (max-width: v.$break-points-lg) {
  .tariffs {
    margin-top: 110px;
    display: block;
    &__content {
      display: none;
      &_mini {
        display: block;
      }
    }
    &__img {
      display: none;
      &_mini {
        display: inline;
        height: 250px;
        margin-left: 5px;
        img {
          height: 100%;
          object-fit: contain;
        }
      }
    }
    &__desc {
      display: flex;
      margin-top: 70px;
    }
    &__text {
      font-size: 18px;
      line-height: 28px;
    }
    &__input {
      display: flex;
      justify-content: center;
      margin: 20px auto 0 auto;
    }
  }
}

@media screen and (max-width: v.$break-points-md) {
  .tariffs {
    margin-top: 100px;
    display: flex;
    flex-direction: column-reverse;
    &__content {
      display: block;
      &_mini {
        display: none;
      }
    }
    &__desc {
      padding-left: 10px;
      margin-top: 40px;
      flex-direction: column;
    }
    &__img {
      display: block;
      text-align: center;
      height: 200px;
      img {
        height: 100%;
        object-fit: contain;
      }
      &_mini {
        display: none;
      }
    }
    &__input {
      margin-top: 40px;
      .btn {
        min-width: 110px;
      }
    }
  }
}