@use 'variables' as v;

.two-column-section {
  display: flex;
  align-items: center;
  &__img {
    width: 50%;
  }
  &__content {
    width: 50%;
  }
  &__title {
    font-weight: 600;
    font-size: 28px;
    line-height: 36px;
  }
  &__info {
    margin-top: 24px;
    font-size: 18px;
    line-height: 28px;
  }
}

@media screen and (max-width: v.$break-points-lg) {
  .two-column-section {
    flex-direction: column-reverse;
    align-items: flex-start;
    &__content {
      width: 80%;
    }
    &__img {
      margin-top: 20px;
    }
  }
}