$max-width-container: 1098px;

$first-grad-color: #1792C7;
$second-grad-color: #00B8F0;
$grad: linear-gradient(180deg, $first-grad-color, 0%, $second-grad-color 100%);
$grad-dash: linear-gradient(-90deg, $second-grad-color 0%, $second-grad-color 0.01%, #B2EEFC 73.96%);

$input-color: #1792C7;
$input-border: rgba(56, 152, 254, 0.4);

$card-title-color: rgba(56, 152, 254, 0.5);
$card-border-color: rgba(56, 152, 254, 0.187528);

$input-bg: #F3F9FF;
$input-reverse-bg: #FFF;

$font-color: #2D3238;
$font-transparent-color: rgba(56, 152, 254, 0.3);

$main-bg-color: #FFF;
$second-bg-color: #E8F4F6;