include ./templates/offerSection
include ./templates/twoColumnSection

doctype html
html(lang="ru")
  head
    meta(charset="utf-8")
    title EveryPay
    meta(name="viewport" content="width=device-width, initial-scale=1")
  body
    .container
      include ./templates/header.pug
      .offer-sections
        .offer-sections__list
          +offerSection(
            'Не пропускайте важные оплаты', 
            'pass-input',
            'pass-offer.png', 
            'Важные оплаты', 
            'Если от них зависят ваши проекты или старт рекламных кампаний'
          )
          +offerSection(
            'Сократите издержки на бухгалтерию и коммуникации', 
            'save-input',
            'save-offer.png', 
            'Накопительство', 
            'Получайте информацию о платежах на счет компании там, где вам удобно'
          )
          +offerSection(
            'Создавайте собственные сценарии действий', 
            'scenario-input',
            'scenario-offer.png', 
            'Сценарий действий', 
            'При поступлении денег на счет вашей компании'
          )
          +offerSection(
            'Реагируйте на платежи так быстро, как они поступают на ваш счет', 
            'react-input',
            'react-offer.png', 
            'Быстрое реагирование'
          )
        .offer-sections__control
    .advantages-wrapper
      .container
        include ./templates/advantages.pug
    .container
      include ./templates/works.pug
      include ./templates/automation.pug    
      include ./templates/banksIntegration.pug 
    .for-whom-wrapper 
      .container 
        include ./templates/forWhom.pug
    .container
      include ./templates/cases.pug
      include ./templates/tariffs.pug
      include ./templates/comingSoon.pug
      include ./templates/security.pug
    .connect-wrapper
      .container
        include ./templates/connect.pug 
        include ./templates/footer.pug